* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat.ttf');
}

body{
    background-image: url('../main-files/backgrounds/background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    perspective: 1000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    font-family: 'Caveat', cursive;
}

.error-box,
.success-box {
	position: fixed;
	left: 2%;
	top: 80px;
	padding: 10px 12px;
	display: none;
	text-align: left;
	z-index: 4;
	color: white;
    font-size: 20px;
    font-weight: normal;
	border-radius: 0 5px 0 5px;
}

.error-box {
    background: #F75353; 
	border-right: 3px solid #b83333;
	border-bottom: 3px solid #b83333;
}

.success-box {
    background: #3cff3c;
	border-right: 3px solid #28b128;
	border-bottom: 3px solid #28b128;
}

.diary {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(10deg);
    transform-origin: center center; /* Ponto de origem para o zoom */
    transition: transform 0.5s ease-in-out; /* Suavizar a transição do zoom */
}

/* efeitos para animações do livro */

.remove-rotate {
    transform: none;
}

.transform-origin-center {
    transform-origin: center center;
}

.remove-transition {
    transition: none;
}

.flip {
    transform: rotateX(10deg) rotateY(-180deg);
}

.return-flip {
    transform: rotateX(10deg) rotateY(0);
}

.zoomed {
    transform: scale(1.2);
    transition: transform 0.5s ease;
    position: relative;
}

.transition-all {
    transition: all 3s;
}

/***/

/*
.diary:hover .page {
    transform: rotateX(10deg) rotateY(-180deg);
    z-index: 2;
}

/*
    usar o transform: rotate(10deg);
    para dar efeito do livro de lado
    para quando o usuario clicar
    fazer um efeito do livro se mexendo
    e abrindo
*/

.cover {
    z-index: 2;
}

.cover img {
    width: 300px;
    display: block;
    border-radius: 50%;
    margin: 20px auto;
    margin-bottom: 0;
    position: relative;
}

.cover h2 {
    text-align: center;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}

.back-cover {
    z-index: -2;
}

.cover {
    height: 710px;
}

.back-cover {
    height: 700px;
}

.cover,
.back-cover {
    width: 500px;
    background-image: url('../main-files/cover-textures/cover.PNG');
    background-size: cover;
    border-radius: 2px 20px 20px 2px;
    position: absolute;
    box-shadow: 28px -50px 10px rgba(19, 19, 19, 0.288);
    transform-origin: center left;
}

.page,
.sumary-page {
    height: 680px;
    width: 490px;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: rgba(242, 221, 178);
    position: absolute;
    border-radius: 2px 10px 10px 2px;
    transform-origin: center left;
    z-index: 1;
    filter: url(#wavy2);
}

.page {
    z-index: 2;
}

.sumary-page img {
    width: 150px;
    display: block;
    border-radius: 50%;
    margin: 10px auto;
    position: relative;
    z-index: -1;
}

.sumary-page h2 {
    color: rgb(212, 1, 1);
    margin: 50px 0 0 35px;
    text-transform: uppercase;
    font-size: 27px;
}

.sumary-page a {
    text-decoration: none;
    color: rgba(19, 19, 19, 0.829);
    font-size: 30px;
    margin: 20px 35px;
    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
}

.sumary-page a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgba(19, 19, 19, 0.829);
    bottom: 50%;
    left: 0;
    transition: width 0.5s ease;
}

.sumary-page a:hover::before {
    width: 90%;
}

.page span.number-page {
    position: absolute;
    font-size: 21px;
    bottom: 20px;
    color: rgb(212, 1, 1);
}

.page span.left {
    left: 30px;
}

.page span.right {
    right: 30px;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

/* Side-Menu */

.side-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.menu {
    text-transform: uppercase;
    margin: 0 0 10px 0;
    border-bottom: 2px solid white;
}

.side-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-grow: 1;
}

.side-menu ul li {
    margin: 20px 0;
    font-size: 30px;
    cursor: pointer;
}

.close-menu {
    font-size: 30px;
    margin-top: auto;
    cursor: pointer;
}

.close-menu a {
    color: white;
}


/****/

/* box-search */

.box-search {
    display: flex;
    position: absolute;
    top: -630px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    gap: 10px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.box-search input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    outline: none;
    width: 500px;
    resize: horizontal;
}

.box-search button {
    border: none;
    border-radius: 5px;
    padding: 13px 21px;
    cursor: pointer;
    font-size: 25px;
}

.box-search button {
    background-color: #007BFF;
    color: white;
}

.box-search button:hover {
    background-color: #0056b3;
    color: #ccc;
}

/*****/

/* Links */

.box-links {
    display: flex;
    position: absolute;
    left: 1050px;
    top: -500px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    color: white;
    width: 480px;
    flex-direction: column;
}

.box-links h2 {
    font-size: 25px;
    font-weight: normal;
}

.box-links a {
    font-size: 23px;
    color: #007BFF;
}

.box-links .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    border: 2px solid white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.links a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.links a,i {
    margin: 0 15px;
}

.links i {
    cursor: pointer;
    font-size: 24px;
}

.links .edit {
    color: yellow;
}

.links .remove {
    color: rgb(255, 80, 80);
}

.links input {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 12px);
    outline: 0;
    font-size: 17px;
}

.links .actions {
    display: flex;
    gap: 5px;
}

.links .actions button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.links .actions .save {
    background-color: #4CAF50;
    color: white;
}

.links .actions .cancel {
    background-color: #f44336;
    color: white;
}

.plus-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    border: 2px solid white;
}

.plus-link i {
    font-size: 30px;
    cursor: pointer;
    margin: 5px 0;
    color: #00c900;
}

/*****/

/* box-book-type */

.box-book-type {
    display: flex;
    position: absolute;
    bottom: -630px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    gap: 10px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.box-book-type select {
    padding: 10px;
    font-size: 20px;
    outline: 0;
    font-family: 'Caveat', cursive;
}

/*****/

/* login */

.login-box {
    width: 400px;
    margin: 30px auto;
}

.login-box h2 {
    text-align: center;
    margin: 20px 0;
}

.notebook-line {
    position: relative;
    margin-bottom: 20px;
    padding: 0 10px;
}

.notebook-line input {
    font-family: 'Caveat', cursive;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(19, 19, 19, 0.829);
    background: transparent;
    font-size: 16px;
    color:  rgba(19, 19, 19, 0.829);
    font-size: 20px;
    padding: 5px 0;
    outline: none;
    position: relative;
    z-index: 1;
}

.notebook-line input::placeholder {
    color: rgba(19, 19, 19, 0.829);
    font-style: italic;
}

.pwd-field {
    position: relative;
}

.toggle-pwd {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	cursor: pointer;
    z-index: 9999;
}

.toggle-pwd i {
	color: #252525;
	font-size: 23px;
	font-weight: normal;
}

input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}